@import "tailwindcss";
@import "tw-animate-css";

/* ==========================
   🔧 SYSTEM SECTION START
========================== */
@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/IRANYekanXFaNum-ExtraBlack.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/IRANYekanXFaNum-ExtraBold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/IRANYekanXFaNum-DemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/IRANYekanXFaNum-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/IRANYekanXFaNum-Regular.woff2");
  font-weight: 400;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --font-yekan: "IRANYekan";
  --main-transition: all 0.4s ease-in-out;
}
@theme {
  --color-primary: #dd5c34;
  --color-primary-75: #e76941;
  --color-primary-50: #fcb093;
  --color-primary-25: #fff5f3;
  --color-primary-hover: #cd4f28;

  --color-secondary: #0c1b43;
  --color-secondary-80: #959eb1;
  --color-secondary-40: #c3d9ed;
  --color-secondary-20: #d5e6f6;
  --color-secondary-10: #f0f5fa;
  --radius-xlarge: 48px;
  --radius-large: 32px;
  --radius-medium: 16px;
  --radius-small: 12px;
  --radius-extrasmall: 8px;

  --transition-delay: 0.4s;

  --color-bg-panel: #172b4d;

  --font-IRANYekan: var(--font-yekan);

  --breakpoint-wide: 1400px;
  --breakpoint-desktop: 1200px;
  --breakpoint-laptop: 992px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 576px;
}

body,
* {
  @apply font-IRANYekan font-medium;
}

.container {
  max-width: min(100%, 1380px, 1440px, 1600px);
  @apply w-full px-4 my-0 mx-auto;
}

button {
  @apply cursor-pointer p-3 rounded-extrasmall active:scale-95 transition-[var(--main-transition)] disabled:active:scale-none  disabled:opacity-50 disabled:cursor-not-allowed;
  &[data-variant="primary"] {
    @apply bg-primary-75 text-white hover:bg-primary-hover active:bg-primary-hover  disabled:hover:bg-primary-75 focus:bg-primary;
  }
  &[data-variant="secondary"] {
    @apply bg-secondary-20 text-secondary hover:bg-secondary-40 disabled:hover:bg-secondary-20 focus:bg-secondary-40;
  }
  > .loader {
    @apply w-5 h-5 border-[0.3125rem] border-white border-b-transparent inline-block rounded-full;
    animation: rotation 1s linear infinite;
  }
  &:has(.loader) {
    @apply flex items-center justify-center;
  }
}
h1 {
  @apply text-secondary leading-14 font-extrabold text-4xl;
}
h2 {
  @apply text-secondary leading-12 font-bold text-2xl;
}
h3 {
  @apply text-secondary leading-9 font-bold text-xl;
}
h4 {
  @apply text-secondary leading-6 font-bold text-lg;
}
h5 {
  @apply text-secondary  font-bold;
}
h6 {
  @apply text-secondary  font-bold text-sm;
}
.bg-overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black opacity-60 z-30 invisible;
  transition: var(--main-transition);
  &.active {
    @apply visible opacity-50;
  }
}

/* ========================
   ✅ SYSTEM SECTION END
======================== */

/* ========================
  🔧 STORIES SECTION START
======================== */

.story-slider-container {
  @apply p-2 w-10/12 max-wide:w-full;
}
.story-wrapper {
  @apply flex flex-col items-center cursor-pointer;
}
.story-image_wrapper {
  @apply w-24 h-24 max-tablet:w-16 max-tablet:h-16 rounded-full p-[2px] bg-gradient-to-tr from-yellow-400 via-pink-500 to-purple-600;
}
.story-image {
  @apply w-full h-full object-cover rounded-full border-2 border-white;
}
.story-title {
  @apply text-sm  max-tablet:text-xs mt-1 text-center;
}

/* ========================
   ✅ STORIES SECTION END
======================== */

/* ========================
   🔧 FOOTER START
======================== */

footer {
  @apply border-t border-stone-300 py-10 text-right;
}
.footer-info-container {
  @apply w-4/12 text-justify px-3 leading-7 text-sm max-laptop:w-1/2 max-mobile:w-full;
}
.footer-info-wrapper {
  @apply flex max-laptop:flex-wrap justify-between py-4;
}
.footer-links-container {
  @apply w-5/12 flex flex-row gap-8  px-3 max-laptop:w-1/2 max-mobile:w-full;
}
.footer-link-wrapper {
  @apply w-full sm:w-1/2;
}
.footer-link-wrapper_heading {
  @apply text-xl font-bold mb-3;
}
.footer-link {
  transition: var(--main-transition);
  @apply hover:text-gray-400 text-sm;
}
.footer-trust-container {
  @apply w-3/12 max-mobile:w-full;
}
.footer-app-container {
  @apply px-4 py-4 rounded-md mt-10 flex flex-col md:flex-row justify-between bg-[#313131] items-center gap-6 md:gap-0 text-white;
}
.footer-app_image-wrapper {
  @apply flex flex-row gap-2 max-tablet:flex-wrap justify-center items-stretch;
}
.footer-up-wrapper {
  @apply flex justify-end items-center py-4;
}
.footer-up-btn {
  transition: var(--main-transition);
  @apply flex items-center gap-1 text-sm hover:text-gray-400 border p-2 rounded-2xl border-gray-300 cursor-pointer;
}
.footer-CR-wrapper {
  @apply flex flex-col md:flex-row justify-between items-center border-t border-gray-300 pt-4 gap-2 md:gap-0;
}
/* ========================
   ✅ FOOTER END
======================== */

/* ========================
   ⏳ COUNTDOWN TIMER START
======================== */

.box-timer {
  @apply mt-4;
}

.countdown-timer {
  @apply flex items-center justify-center text-center gap-1 sm:gap-2;
}

.number {
  @apply bg-[#353535] text-white px-1  rounded-md shadow-sm min-w-[35px] sm:min-w-[25px];
}

.timer-value {
  @apply text-sm sm:text-sm tracking-wide;
}

.dot {
  @apply text-gray-700 text-base sm:text-lg;
}

.timer-message {
  @apply mt-2 text-center text-xs text-gray-500;
}

.timer-message-text {
  @apply font-medium;
}
/* ========================
   ⏳ COUNTDOWN TIMER END
======================== */

/* ========================
   ✅ breadcrumb, SECTION END
======================== */
.breadcrumbs li {
  @apply text-gray-600 text-sm;
}

/* ========================
  🔧 breadcrumb, SECTION START
======================== */

/* ========================
   🔧 BLOG START
======================== */
.bg-blog {
  @apply bg-white border rounded-lg border-[#f8f8f7de] p-4;
}
.blog-title {
  @apply text-3xl font-bold text-gray-900 max-tablet:text-xl leading-9;
}
.blog-content-container {
  @apply max-w-4xl mx-auto p-6 space-y-10 max-tablet:p-2;
  > div p {
    @apply leading-8;
  }
  > div ul {
    @apply list-disc pl-6 mb-4;
  }
  > div ol {
    @apply list-decimal pl-6 mb-4;
  }
  > div li {
    @apply mb-2 leading-relaxed;
  }
  > div li > ul {
    @apply list-disc pl-6 mt-2;
  }
  > div li > ol {
    @apply list-decimal pl-6 mt-2;
  }
  > img,
  > * img {
    @apply mx-auto w-full h-[400px] rounded-2xl my-4 max-mobile:h-[250px];
  }
  > * table {
    @apply border border-primary w-full my-4;
    > thead {
      @apply bg-primary text-white text-start p-3 border border-primary font-semibold;
      > tr td {
        @apply py-3;
      }
    }
    > tbody {
      > td {
        @apply p-3 border border-primary;
      }
      > tr:nth-child(even) td {
        @apply bg-gray-100;
      }
    }
  }
  > h2,
  * h2 {
    @apply text-3xl  font-bold my-3 max-tablet:text-2xl;
  }
  > h3,
  * h3 {
    @apply text-2xl font-bold my-3 max-tablet:text-xl;
  }
  > h4,
  * h4 {
    @apply text-xl font-bold my-3 max-tablet:text-sm;
  }
}
.blog-image {
  @apply w-full rounded-xl shadow-md !h-[400px] max-mobile:!h-[300px];
}
/* ========================
   ✅ BLOG END
======================== */
/* ========================
   🔧 wishlist START
======================== */
.post-single {
  background: #fff;
  box-shadow: 0px 0px 20px #d3d3d333;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #d5d5d544;
  margin-bottom: 30px;
}

/* ========================
   ✅ wishlist END
======================== */

/* ========================
   🔧 login START
======================== */
.login-container {
  @apply fixed top-0 left-0 right-0 bottom-0 z-40 flex items-center justify-center opacity-0 invisible;
  transition: var(--main-transition);
  &.active {
    @apply visible opacity-100;
  }
}
.login-wrapper {
  @apply bg-white rounded-2xl w-6/12 h-8/12 flex items-stretch max-laptop:w-8/12 max-tablet:hidden;
}
.login-image {
  @apply w-full h-full object-center rounded-tl-2xl rounded-bl-2xl;
}
.login-header {
  @apply flex items-center justify-center;
}
.login-header--logo {
  @apply w-30 h-16;
}
.login-body {
  @apply py-5;
}
.login-title {
  @apply mb-5;
}
.login-input {
  transition: var(--main-transition);
  @apply mb-8 border border-[#dddddd] outline-none px-3 py-2 w-full rounded-lg text-[#9D9EA2] focus:border-primary focus:text-primary;
}
.login-btn {
  transition: var(--main-transition);
  @apply bg-primary text-white cursor-pointer block w-6/12 py-3 rounded-xl active:scale-[0.96] active:bg-black hover:bg-black disabled:active:scale-[1] disabled:bg-gray-400 disabled:cursor-not-allowed;
}
/* ========================
   ✅ login END
======================== */

.product-gallery-wrapper {
  @apply flex sm:flex-col flex-row gap-3 sm:max-h-[500px] max-w-full sm:overflow-y-auto overflow-x-auto;
  scrollbar-width: 0px;
  &::-webkit-scrollbar {
    display: none;
  }
}
