@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css");
@import "tailwindcss";

:root {
  --color-primary: #303030;
  --color-background: #f9f9f9;
  --color-text-primary: #222222;
}

body {
  font-family: "Vazir", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-weight: 600;
  margin-top: 0;
}
